/* ------------------------------------ páginas gerais ------------------------------------ */

body { /* configura o conteúdo como um todo */
    background-color: #bece94;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.logo img { /* imagem do topo */
    padding-top: 0.625rem;
    width: 10%;
    height: auto;
    display: block;
    margin: auto;
}

.navegacao { /* menu de navegação */
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.625rem 1.88rem;
    flex-wrap: wrap;
}

.navegacao h2 { /* menu sem formato de botão */
    font-family: "Quicksand", sans-serif;
    font-size: clamp(0.8rem, 2vw, 1rem);
    font-weight: bold;
    margin: auto;
}

.esquerda, .direita { /* menu - separação entre botões e menu */
    display: flex;
    flex-direction: row;
    gap: 1.88rem;
    color: #382e16;
}

.menu { /* menu em formato de botões */
    border-radius: 2.5rem;
    padding: 0.625rem 1.25rem;
    background-color: #29461367;
    border: none;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    font-size: clamp(0.7rem, 2vw, 1rem);
}

.menu:hover { /* menu em formato de botões - ao passar o mouse */
    background-color: #236622;
    color: white;
}

.esquerda h2:hover { /* menu sem formato de botão - ao passar o mouse */
    text-decoration: underline;
    color: #a96238;
}

a, a:visited, a:hover, a:active { /* para evitar decoração de link */
    text-decoration: none;
    color: inherit;
}

.conteudo { /* área entre menu e rodapé */
    min-height: calc(100vh - 13.85rem);
}

.container-botao { /* container dos botões submit */
    display: flex;
    justify-content: flex-end;
}

.botao { /* botão submit */
    margin-top: 1.25rem;
    border-radius: 2.5rem;
    padding: 0.625rem 1.25rem;
    background-color: #29461367;
    border: none;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    font-size: clamp(0.7rem, 2vw, 1rem);
}

.botao:hover { /* botão submit - ao passar o mouse */
    background-color: #236622;
    color: white;
}

footer { /* rodapé */
    padding: 0.625rem 0;
    font-family: "Quicksand", sans-serif;
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    gap: 1rem;
}

footer p { /* rodapé */
    font-size: clamp(0.7rem, 2vw, 1rem);
}

.icon-rodape { /* rodapé */
    font-size: clamp(0.7rem, 2vw, 1.56rem);
    margin: 0 0.625rem;
}

.my-forms { /* formulários */
    margin: auto;
    display: flex;
    justify-content: center;
}

.text-duo-color { /* titulo com duas cores */
    font-weight: bold;
    justify-content: center;
    font-size: clamp(0.7rem, 2vw, 1.88rem);
    border-right: 0.125rem solid rgba(255, 255, 255, 0.4);
}

.color1 { /* titulo com duas cores - cor um */
    color: #236622;
}

.color2 { /* titulo com duas cores - cor dois */
    color: #a96238;
}

.text-explicacao { /* texto de introdução da página - vem junto do text-duo-color */
    font-size: clamp(0.7rem, 2vw, 1rem);
    padding: 0.625rem 1.25rem;
    justify-content: center;
}

.titulo-label { /* titulos em formulários */
    font-weight: bold;
}

/* ------------------------------------ página INDEX ------------------------------------ */
.caixa { /* caixas de fundo */
    margin: 1rem 3.125rem;
    padding: 1.25rem 1.25rem;
    border-radius: 3.25em;
    background-color: rgba(239, 226, 226, 0.4);
    min-height: 35rem;
    max-height: 35rem;
}

@media (max-width: 1000px) { /* tablet */
    .caixa {
        min-height: 70vh;
        max-height: 70vh; 
    }
}

@media (max-width: 480px) { /* celular */
    .caixa {
        min-height: 50vh;
        max-height: 50vh;
    }
}

.texto { /* textos da página */
    align-items: center;
    display: block;
    margin: auto;
}

.texto h3 { /* título das caixas */
    font-size: clamp(0.6rem, 2vw, 1.8rem);
    text-align: center;
    margin-bottom: 1.88rem;
    font-weight: bold;
    font-family: "Quicksand", sans-serif;
}

.texto p { /* parágrafos */
    text-align: justify;
    font-size: clamp(0.7rem, 2vw, 1.125rem);
}

.imgdireita { /*ajuste de imagem */
    max-width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    border-radius: 0 3.25em 3.25em 0;
}

.video-container iframe {
    width: 100%;
    max-width: 43.75rem;
    height: 24.625rem;
    border-radius: 0 3.25em 3.25em 0;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    filter: invert(40%) sepia(22%) saturate(2281%) hue-rotate(74deg) brightness(92%) contrast(92%);
}

.carousel-control-prev {
    left: -60px; /* aproxima da borda esquerda */
}

.carousel-control-next {
    right: -60px; /* aproxima da borda direita */
}

@media (max-width: 768px) { /* tablet */
    .carousel-control-prev {
    left: -30px; /* aproxima da borda esquerda */
}

.carousel-control-next {
    right: -30px; /* aproxima da borda direita */
}
}

@media (max-width: 480px) { /* celular */
    .carousel-control-prev {
    left: -10px; /* aproxima da borda esquerda */
}

.carousel-control-next {
    right: -10px; /* aproxima da borda direita */
}
}

.margin-add {
    margin-right: 2rem;
}

/* ------------------------------------ página FALE CONOSCO ------------------------------------ */
.texto-icon { /* icones do fale conosco */
    display: inline-block;
}

.redes-fale-conosco { /* icones do fale conosco */
    font-size: clamp(0.7rem, 2vw, 3.125rem);
    padding: 1.88rem;
}

.caixa-contatos { /* caixas de redes sociais e outros contatos */
    background-color: rgba(255, 255, 255, 0.4);
    margin: auto;
    margin-top: 3.125rem;
    margin-bottom: 1.88rem;
    padding: 1.25rem;
    display: block;
    text-align: center;
}

.intervalo-entre-campos { /* intervalo entre contatos */
    padding-right: 2.5rem;
}

.fale-atendente { /* contato com atendente */
    padding-right: 0.625rem;
}

.cont_caracteres {
    font-size: 0.75rem;
    text-align: end;
}

/* ------------------------------------ página LOGIN ------------------------------------ */
.login-page, .frase-impacto, .forms-login { /* elementros centrais da página */
    margin: auto;
    padding: 3.125rem;
}

.frase-impacto { /* elementos centrais da página - frase que chama atenção */
    justify-content: center;
    text-align: center;
}

h1 { /* frase de impacto */
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    font-size: clamp(0.7rem, 2vw, 1.88rem);
    margin-bottom: 3.125rem;
}

.senha { /* campo senha */
    margin-top: 0.625rem;
}

.forms-login { /* formulário de login */
    border-left: 0.31rem solid #236622;
}

@media (max-width: 768px) { /* tablet */
    .forms-login {
        border-top: 0.31rem solid #236622;
        border-left: 0;
    }
}

/* ------------------------------------ página DASHBOARD ------------------------------------ */
.conteudo-dash { /* container total da página */
    margin: 3.125rem 0.625rem 1.88rem 0.625rem;
}

.conteudo-dash .row { /* cada linha do dashboard: colunas com mesma altura */
    align-items: stretch;
}

.line-dash { /* cada linha de conteúdo do dash */
    margin-bottom: 1.25rem;
}

.caixa-dash { /* cada caixa ocupa 100% da altura da coluna */
    background-color: rgba(255, 255, 255, 0.4);
    padding: 1.25rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.title-box-dash { /* título de cada caixa */
    font-weight: bold;
    font-family: "Quicksand", sans-serif;
    color: #236622;
    padding-bottom: 0.625rem;
    font-size: clamp(0.7rem, 2vw, 1.56rem);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-atencao { /* texto informando atenção */
    color: chocolate;
    font-weight: bold;
}

.atividades-recentes td { /* tabela de atividades recentes - coluna */
    vertical-align: middle;
    padding: 0.625rem 0.31rem;
}

.atividades-recentes .icone { /* tabela de atividades recentes - ícones */
    width: 2.5rem;
    text-align: center;
    font-size: clamp(0.7rem, 2vw, 1.375rem);
    color: #236622;
}

.atividades-recentes small { /* tabela de atividades recentes - textos pequenos */
    color: #555;
}

.tabela-estoque-box { /* Caixa da tabela */
    background-color: #dce8c7; /* verde claro da referência */
    border-radius: 0.75rem;
    padding: 1.25rem;
}

.icon-info, .icon-large, .emoji-table { /* ícones e emojis */
    color: #236622;
    margin-right: 1.25rem;
    vertical-align: middle;
}

.icon-info, .emoji-info, .emoji-table { /* ícones pequenos e emojis - tamanho */
    font-size: 1.25rem;
}

@media (max-width: 1300px) {
    .icon-info, .emoji-info, .emoji-table {
        display: none;
    }
}

.icon-large { /* ícones grandes - tamanho */
    font-size: clamp(0.7rem, 2vw, 3.125rem);
}

.emoji-info { /* emoji - margem */
    margin-right: 0.81rem;
}

.emoji-table { /* emoji - margem */
    margin: 0 1.25rem 0 1.88rem;
}

.bi-exclamation-triangle-fill { /* Ícone do estoque alerta */
    margin-right: 1.25rem;
}

.btn-edit-box { /* botão de edição - lápis */
    background: transparent;
    border: none;
    color: #236622;
    cursor: pointer;
    padding: 0;
}

.btn-edit-box i { /* botão de edição - lápis */
    font-size: clamp(0.7rem, 2vw, 1.125rem);
}

.btn-edit-box:hover i { /* botão de edição - lápis - ao passar o mouse */
    color: #a96238;
}

.alerta-estoque { /* alerta de estoque baixo */
    background-color: #dce8c7;
    padding: 0.75rem 1.125rem;
    border-radius: 0.625rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-ver-todos { /* link para ver mais detalhes */
    color: #236622;
    font-weight: bold;
    text-align: end;
}

.text-ver-todos:hover { /* link para ver mais detalhes */
    color: #a96238;
}

.tabela-estoque { /* Tabela sem bordas Bootstrap */
    width: 100%;
    border-collapse: collapse;
    margin-top: 0.625rem;
}

.tabela-estoque thead th { /* Tabela sem bordas Bootstrap - cabeçalho */
    color: black;
    font-weight: bold;
    padding: 0.5rem 0;
    border-bottom: 0.125rem solid #b7c7a3;
    text-align: center;
    background-color: #29461343;
}

.tabela-estoque td { /* Tabela sem bordas Bootstrap - linhas */
    padding: 0.625rem 0;
    border-bottom: 0.06rem solid #c7d6b4;
    line-height: 0.31rem;
}

.col-curta { /* para colocar a tabela com tamanho de colunas mais equilibrado*/
    white-space: nowrap;
    width: auto;
}

.text-center { /* para alinhar o texto na tabela */ 
    text-align: center;
}

.status { /* Status - tabela estoque */
    font-weight: bold;
    padding: 0 0.625rem;
    border-radius: 0.625rem;
}

@media (max-width: 1296px) { /* tablet */
    .status {
        font-size: 0.75rem; 
        padding-bottom: 0.25rem;
        white-space: normal;
    }
}

.status-disponivel { /* Status - itens disponíveis */
    color: #236622;
    background-color: #29461343;
}

.status-baixo { /* Status - itens em baixa */
    color: #a96238;
    background-color: #a9613841;
}

.resumo-estoque { /* Texto abaixo da tabela */
    margin-top: 0.75rem;
    margin-bottom: 0.31rem;
}

.barra-acoes { /* Busca - Caixa verde clara */
    background-color: #dce8c7; /* mesmo tom da referência */
    padding: 1rem 1.25rem;
    border-radius: 0.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-busca { /* Campo de busca */
    width: 23.125rem;
    padding: 0.625rem 1rem;
    border-radius: 0.5rem;
    border: 0.06rem solid #b7c7a3;
    font-size: clamp(0.7rem, 2vw, 1rem);
    outline: none;
    margin: none;
}

.input-busca::placeholder { /* Campo de busca */
    color: #6b6b6b;
}

.btn-adicionar { /* Botão verde escuro - adicionar produtos */
    background-color: #236622;
    color: white;
    border: none;
    padding: 0.625rem 1.125rem;
    border-radius: 0.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
    margin: none;
}

.btn-adicionar:hover { /* Botão verde escuro - adicionar produtos - passar o mouse */
    background-color: #a96138;
}

.line-table-atividades { /* texto das últimas atividades notificadas */
    border-right: 0.125rem solid #2946132c;
}

td .icon-large { /* texto das últimas atividades notificadas - icones */
    padding: 0.625rem;
}

.voluntarios-box { /* Caixa específica dos voluntários */
    border-radius: 0.75rem;
    padding: 1.25rem;
}

.linha-voluntario { /* Linha com número grande + texto pequeno */
    display: flex;
    align-items: center;
    gap: 0.75rem; /* espaço entre ícone e texto */
    margin-bottom: 0.75rem;
    padding-bottom: 0.75rem;;
}

.line-voluntarios-ativos { /* Linha com número grande + texto pequeno */
    border-bottom: 0.125rem solid #2946132c;
}

.vol-info { /* Linha com número grande + texto pequeno */
    display: flex;
    flex-direction: column;
    line-height: 1.1;
}

.numero { /* Linha com número grande + texto pequeno */
    font-size: clamp(0.7rem, 2vw,  1.75rem);
    font-weight: bold;
    color: #236622;
}

.vol-info .descricao { /* Linha com número grande + texto pequeno */
    font-size: 0.875rem;
    margin-top: -0.125rem;
}

.linha-info { /* Linhas com ícones */
    display: flex;
    align-items: center;
    gap: 0.375rem;
    margin-bottom: 0.625rem;
}

/* ------------------------------------ página CADASTRO ------------------------------------ */

.conteudo-cad { /* área entre menu e rodapé */
    min-height: calc(100vh - 14.5rem);
}

.conteudo-null { /* área entre menu e rodapé */
    min-height: auto;
}

.tipo-cadastro { /* div onde está os botões de tipo de cadastro */
    margin: 1.25rem 0;
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
    align-items: center;
    padding: 0.625rem 0 0 3rem;
    flex-wrap: wrap;
}

.forms-cadastro { /* div onde está os botões de tipo de cadastro */
    margin-bottom: 1.88rem;
}

.cadastro-button { /* botão de tipo de cadastro */
    border-radius: 2.5rem;
    padding: 0.625rem 1.25rem;
    background-color: rgba(255, 255, 255, 0.4);
    border: none;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    color: #236622;
    text-align: center;
}

.cadastro-button:hover { /* botão de tipo de cadastro - quando passa o mouse */
    background-color: #236622;
    color: white;
}

.cadastro-button.active { /* botão de tipo de cadastro - quando está ativo */
    background-color: #23662268;
    color: black;
}

.secao-cadastro { /* container do cadastro */
    margin-top: 1.25rem;
    padding-bottom: 1.88rem;
    border-bottom: 0.125rem dashed #23662245;
}

.identificacao-secao { /* titulo da seção */
    font-family: "Quicksand", sans-serif;
    font-size: clamp(0.7rem, 2vw, 1rem);
}

.produto-item .form-check-label { /* cadastro de produto - seleção */
    width: 10.625rem;
}

.produto-item .area-input { /* cadastro de produto - quantidade */
    width: 6.25em;
}

.produto-item .form-check-input { /* cadastro de produto */
    margin-top: 0;
}

.ilustracao_horta {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.2;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.conteudoModal {
    width: 60%;
    height: auto;
    background-color: #bece94;
    padding: 3rem 5rem;
    border-radius: 5rem;
}

.titleModal1, .titleModal2 {
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    margin: auto;
    font-size: 1.8rem;
}

.titleModal1 {
    color: #236622;
}

.titleModal2 {
    color: #a96238;
}

.botoes-popup {
    gap: 2rem;
}

.btn-salvar, .btn-cancelar {
    color: white;
    border: none;
    padding: 0.625rem 1.125rem;
    border-radius: 0.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
    margin-top: 2rem;
}

.btn-salvar {
    background-color: #236622;
}

.btn-salvar:hover { 
    background-color: #a96138;
}

.btn-cancelar {
    background-color: rgb(109, 32, 32);
    margin-left: 2rem;
}

.label-popup {
    font-size: 1rem;
    display: block;
    margin-bottom: 1rem;
    width: auto;
}

.input-popup {
    font-size: 1rem;
    width: 100%;
    border: none;
    border-radius: 0.5rem;
    padding: 0.25rem 1rem;
    color: #555;
}